.softdocs-sidebar {
  background-color: #fff;
  border: 1px solid #3b3f5321;
  border-radius: 20px;
  flex: 0 0 30%;
  max-width: 350px;

  .sidebar-title {
    background-color: #727BFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 15px;

    a {
      color: #fff;
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }

    .docs-count {
      color: #727BFF;
      font-size: 14px;
      font-weight: 500;
      background-color: #fff;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50px;
      margin-left: auto;
    }
  }
  @media(max-width: 767.98px) {
    max-width: 100%;
  }
  @media(max-width: 991.98px) {
    .sidebar-title {
      padding: 10px 8px;
      a {
        font-size: 1rem;
    }
    }
  }

}