.softdocs-content-area {
  padding: 30px 25px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  @media(max-width: 767.98px) {
    display: block;
  }
}

.softdocs-single-main {
  background-color: #fff;
  border: 1px solid #3b3f5321;
  padding: 20px;
  margin-left: 20px;
  border-radius: 20px;
  flex: 1;

  .softdocs-entry-header {
    .softdocs-entry-title {
      color: #5C637E;
    }
  }

  .softdocs-entry-content {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
      box-shadow: 0px 3px 8px rgba(170, 170, 170, 0.2);
    }
    .ratio {
      iframe {
        border-radius: 20px;
        box-shadow: 0px 3px 8px rgba(170, 170, 170, 0.2);
      }
    }
    h3 {
      padding-top: 40px;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  }

  .softdocs-feedback {
    padding: 15px 20px;
    background: #F0F4FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;

    span {
      font-size: 1.1rem;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

    }
  }

  .softdocs-entry-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .support-link {
      display: flex;
      align-items: center;

      svg {
        background-color: #E5EDFF;
        margin-right: 10px;
        color: #4353FF;
        border-radius: 50px;
        padding: 7px;
        width: 40px;
        height: 40px;
      }

      span {
        color: #5C637E;
      }

      a {
        font-weight: 600;
        font-size: 1rem;
        color: #4353FF;
        margin-left: 10px;
      }

    }

    .update-date {
      svg {
        background-color: #E5EDFF;
        margin-right: 10px;
        color: #4353FF;
        border-radius: 50px;
        padding: 7px;
        width: 40px;
        height: 40px;
      }
    }
  }
  @media(max-width: 767.98px) {
   margin-top: 30px;
   margin-left: 0;

   .softdocs-entry-title {
    font-size: 2rem;
   }
   .softdocs-entry-content {
    p {
      font-size: .9rem;
    }
   }.softdocs-feedback {
    span {
      font-size: .9rem;
    }
  }
  .softdocs-entry-footer {
    flex-direction: column;
    align-items: start;
    .update-date {
      margin-top: 15px;
    }
  }
  }
  @media(max-width: 991.98px) {

   .softdocs-entry-title {
    font-size: 2rem;
   }
   .softdocs-entry-content {
    p {
      font-size: .9rem;
    }
   }.softdocs-feedback {
    span {
      font-size: .9rem;
    }
  }
  .softdocs-entry-footer {
    flex-direction: column;
    align-items: start;
    .update-date {
      margin-top: 15px;
    }
  }
  }

}

