$color_primary: #7788FF;
$color_secondary: #6FA6FF;
$button_bg_color: linear-gradient(to right, #7788FF, #6E6DFF);
$h1_color: #151826;
$p_color: #5C637E;

$igd_color: #36B44A;
$radio_player_color: #40CE87;
$wp_radio_color: #7785FF;
$wp_radio_user_frontend_color: #F3AD2E;
$proxy_player_color: #00D1E1;
