body.page {
    background: linear-gradient(180.71deg, #6C9EFF -150px, rgba(249, 250, 255, 0) 800px) no-repeat center top!important;
}
#one {
    // background: linear-gradient(180.71deg, #6C9EFF -78.75%, rgba(249, 250, 255, 0) 113.71%);
        padding-bottom: 150px;
     .clr {
        clear: both;
     }

    .docs-text h1 {
        text-align: center;
        padding-bottom: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #151826;
    }
    .form {
        text-align: center;
        padding: 20px;
        padding-bottom: 40px;
        form {
            position: relative;
            input {
                width: 900px;
                padding: 20px 40px;
                background: #fff;
                border: 1px solid #fff;
                border-radius: 10px;
                
                &:focus-visible {
                    box-shadow: none;
                    outline: 0;
                }
            }
            .form-select {
                width: 186px;
                position: absolute;
                top: 14px;
                right: 186px;
                border-color: transparent;
                cursor: pointer;
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #5C637E;
                border-radius: 0;
                text-transform: capitalize;
                border-left: 1px solid #000;
                &:focus {
                    box-shadow: none;
                }
                
            }
           .btns {
            position: absolute;
            right: 29px;
            top: 5px;
            .btn-primary {
                padding: 14px 30px;
                border-radius: 10px;
                background: linear-gradient(146.96deg, #7788FF 11.6%, #6E6DFF 89.24%);
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #fff;
                &:focus {
                    box-shadow: none;
                    border-color: transparent;
                }
            }
           }
        }
    }
    .form form input::placeholder {
        color: rgb(43, 43, 43);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }

    .docs-main {
        .docs-item {
            background-color: #fff;
            border: 1px solid #3b3f5321;
            width: 312px;
            height: 480px;
            border-radius: 20px;
            float: left;
            .item-head {
                .item-text {
                    border-bottom: 2px solid #727BFF;
                    padding: 20px;
                    a {
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        img {
                            margin-right: 10px;
                        }
                    }
                    span {
                        float: right;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #727BFF;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50px;
                    }
                }
            }
            .docs-products {
                padding: 20px;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: #151826;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    img {
                        padding-right: 10px;
                    }
                }
            }
            .docs-butt  {
                a {
                    text-decoration: none;
                    color: #151826;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    display: block;
                    padding-bottom: 25px;
                    &:hover {
                        color: #727BFF;
                    }
                }
            }
        }
        .docs-item1 {
            background-color: #fff;
            border: 1px solid #3b3f5321;
            width: 312px;
            height: 480px;
            border-radius: 20px;
            float: left;
            margin:0 20px;
            .item-head {
                .item-text {
                    border-bottom: 2px solid #00BB45;
                    padding: 20px;
                    a {
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        img {
                            margin-right: 10px;
                        }
                    }
                    span {
                        float: right;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #727BFF;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50px;
                    }
                }
            }
            .docs-products {
                padding: 20px;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: #151826;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    img {
                        padding-right: 10px;
                    }
                }
            }
            .docs-butt  {
                a {
                    text-decoration: none;
                    color: #151826;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    display: block;
                    padding-bottom: 25px;
                    &:hover {
                        color: #727BFF;
                    }
                }
            }
        }
        .docs-item2 {
            background-color: #fff;
            border: 1px solid #3b3f5321;
            width: 312px;
            height: 480px;
            border-radius: 20px;
            float: left;
            .item-head {
                .item-text {
                    border-bottom: 2px solid #FCD736;
                    padding: 20px;
                    a {
                        color: #000;
                        font-size: 16px;
                        font-weight: 600;
                        img {
                            margin-right: 10px;
                        }
                    }
                    span {
                        float: right;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #727BFF;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50px;
                    }
                }
            }
            .docs-products {
                padding: 20px;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: #151826;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    img {
                        padding-right: 10px;
                    }
                }
            }
            .docs-butt  {
                a {
                    text-decoration: none;
                    color: #151826;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    display: block;
                    padding-bottom: 25px;
                    &:hover {
                        color: #727BFF;
                    }
                }
            }
        }
    }
}
